In [309]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [310]:
df_HDI=pd.read_csv(r'C:\Users\dccam\Desktop\Pat_Project\HDI.csv')

In [311]:
df_HDI

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2014,Unnamed: 51,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59
0,Human Development Index (HDI)\nnull\nDimension...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,170,Afghanistan,0.298,NaN,0.304,NaN,0.312,NaN,0.308,NaN,...,0.488,NaN,0.490,NaN,0.491,NaN,0.493,NaN,0.496,NaN
2,69,Albania,0.644,NaN,0.625,NaN,0.608,NaN,0.611,NaN,...,0.787,NaN,0.788,NaN,0.788,NaN,0.789,NaN,0.791,NaN
3,82,Algeria,0.578,NaN,0.582,NaN,0.589,NaN,0.593,NaN,...,0.749,NaN,0.751,NaN,0.755,NaN,0.758,NaN,0.759,NaN
4,36,Andorra,..,NaN,..,NaN,..,NaN,..,NaN,...,0.853,NaN,0.850,NaN,0.854,NaN,0.852,NaN,0.857,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,,Least Developed Countries,0.350,NaN,0.353,NaN,0.354,NaN,0.358,NaN,...,0.510,NaN,0.516,NaN,0.520,NaN,0.525,NaN,0.528,NaN
204,,Small Island Developing States,0.595,NaN,0.598,NaN,0.603,NaN,0.608,NaN,...,0.712,NaN,0.717,NaN,0.719,NaN,0.722,NaN,0.723,NaN
205,,Organization for Economic Co-operation and Dev...,0.785,NaN,0.790,NaN,0.788,NaN,0.800,NaN,...,0.886,NaN,0.889,NaN,0.892,NaN,0.894,NaN,0.895,NaN
206,,World,0.598,NaN,0.601,NaN,0.601,NaN,0.608,NaN,...,0.718,NaN,0.722,NaN,0.727,NaN,0.729,NaN,0.731,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
#delete unwanted column from df_HDI

list_unwanted_HDI=[]
[list_unwanted_HDI.append(x) for x in df_HDI.columns if 'Unnamed:' in x];
[df_HDI.drop(x, axis=1, inplace=True) for x in list_unwanted_HDI]

df_HDI.head(5)

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Human Development Index (HDI)\nnull\nDimension...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
2,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
3,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
4,36,Andorra,..,..,..,..,..,..,..,..,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857

In [313]:
#df_HDI=df_HDI.iloc[1:,1:]

df_HDI.replace({'..':np.nan},inplace=True)
df_HDI.dropna(axis=0, how='any',inplace=True)
df_HDI

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
2,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
3,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
7,48,Argentina,0.707,0.714,0.719,0.725,0.729,0.731,0.738,0.746,...,0.810,0.818,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830
8,81,Armenia,0.633,0.629,0.585,0.590,0.600,0.604,0.614,0.625,...,0.724,0.729,0.733,0.737,0.743,0.746,0.748,0.751,0.758,0.760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
203,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
204,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
205,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
206,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [314]:
df_HDI['Country']=df_HDI['Country'].str.strip()

In [315]:
df_HDI

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
2,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
3,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
7,48,Argentina,0.707,0.714,0.719,0.725,0.729,0.731,0.738,0.746,...,0.810,0.818,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830
8,81,Armenia,0.633,0.629,0.585,0.590,0.600,0.604,0.614,0.625,...,0.724,0.729,0.733,0.737,0.743,0.746,0.748,0.751,0.758,0.760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
203,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
204,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
205,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
206,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [316]:
df_HDI_T=df_HDI.T
df_HDI_T.columns=df_HDI_T.iloc[0]
df_HDI_T=df_HDI_T.iloc[1:,:]

In [317]:
#[print(x,df_HDI[x].value_counts()['..']) for x in df_HDI.columns[1:]];

#df_HDI.set_index('Country',inplace=True)
#df_HDI.loc[df_HDI['1990']=='..',:]   
#df_HDI.isnull().values.any(axis=1).any()

#df_HDI=df_HDI.iloc[:1:]

#for x in df.columns:
#    if '..' in df[x].values:
#        df.drop(x,axis=1,inplace=True)
   

#df_HDI.drop(columns=df_HDI.iloc[:,1:15],inplace=True)
#df_HDI.replace({'..':np.nan},inplace=True)
#df_HDI= df_HDI.dropna(axis = 0, how ='any')
df_HDI

#df.drop(df.str.contains('..'))
#df_HDI_T

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
2,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
3,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
7,48,Argentina,0.707,0.714,0.719,0.725,0.729,0.731,0.738,0.746,...,0.810,0.818,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830
8,81,Armenia,0.633,0.629,0.585,0.590,0.600,0.604,0.614,0.625,...,0.724,0.729,0.733,0.737,0.743,0.746,0.748,0.751,0.758,0.760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
203,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
204,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
205,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
206,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [318]:
df_HDI.isnull().any().any()

False

In [319]:
df_HDI_T=df_HDI.T
df_HDI_T.columns=df_HDI_T.iloc[0]
df_HDI_T=df_HDI_T.iloc[1:,:]

In [320]:
#print(df_HDI_T.columns.values.applymap(lambda x: x == '..'))


df_HDI_T.replace({'..':np.nan},inplace=True)
df_HDI_T= df_HDI_T.dropna(axis = 1, how ='any')
#df_HDI_T

df_HDI
#df['one'].map(lambda x: x >= 1)

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
2,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
3,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
7,48,Argentina,0.707,0.714,0.719,0.725,0.729,0.731,0.738,0.746,...,0.810,0.818,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830
8,81,Armenia,0.633,0.629,0.585,0.590,0.600,0.604,0.614,0.625,...,0.724,0.729,0.733,0.737,0.743,0.746,0.748,0.751,0.758,0.760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
203,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
204,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
205,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
206,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [321]:
#df_HDI_T=df_HDI.T
#df_HDI_T.columns=df_HDI_T.iloc[0]
#df_HDI_T=df_HDI_T.iloc[1:,:]

#for x in df_HDI_T.columns:
#    if '..' in df_HDI_T[x].values:
#        df_HDI_T.drop(x,axis=1,inplace=True)

#df_HDI_T

In [322]:
df_HDI=df_HDI_T

In [350]:
[print(x,df_HDI[x].value_counts()) for x in df_HDI.columns[1:]];

69 0.639      2
0.788      2
0.791      1
0.718      1
0.789      1
0.709      1
0.660      1
0.771      1
0.608      1
0.649      1
0.702      1
0.740      1
0.687      1
0.692      1
0.724      1
0.625      1
0.729      1
0.781      1
0.787      1
0.667      1
0.617      1
0.644      1
0.759      1
0.611      1
0.629      1
0.673      1
0.680      1
Albania    1
Name: 69, dtype: int64

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [325]:
list_countries_HDI=list(df_HDI['Country'].str.strip())
list_countries_HDI

KeyError: 'Country'

In [437]:
df_FDAC=pd.read_csv(r'C:\Users\dccam\Desktop\Pat_Project\us_foreign_aid_country.csv')

In [438]:
df_FDAC.columns

Index(['country_code', 'country_name', 'region_id', 'region_name',
       'income_group_acronym', 'income_group_name', 'transaction_type_id',
       'transaction_type_name', 'fiscal_year', 'current_amount',
       'constant_amount'],
      dtype='object')

In [439]:
#df_FDAC=df_FDAC[df_FDAC['transaction_type_name']=='Disbursements']

In [440]:
df_FDAC['fiscal_year'].unique()

array(['1999', '2000', '2004', '2005', '2006', '2007', '2008', '2009',
       '2018', '2019', '1950', '1951', '1952', '1953', '1954', '1955',
       '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1976tq', '1977', '1978',
       '1979', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '2001',
       '2002', '2003', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2020', '1980', '1981', '1982', '1983', '1984',
       '1946', '1947', '1948', '1949'], dtype=object)

In [441]:
df_FDAC

,country_code,country_name,region_id,region_name,income_group_acronym,income_group_name,transaction_type_id,transaction_type_name,fiscal_year,current_amount,constant_amount
0,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,1999,19000,27957
1,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2000,50000,72090
2,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2004,1000,1330
3,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2005,29270,37766
4,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2006,1000,1250
...,...,...,...,...,...,...,...,...,...,...,...
15012,ZWE,Zimbabwe,5,Sub-Saharan Africa,LIC,Low Income Country,3,Disbursements,2016,222623373,236346878
15013,ZWE,Zimbabwe,5,Sub-Saharan Africa,LIC,Low Income Country,3,Disbursements,2017,226474888,236243065
15014,ZWE,Zimbabwe,5,Sub-Saharan Africa,LIC,Low Income Country,3,Disbursements,2018,226874308,231275232
15015,ZWE,Zimbabwe,5,Sub-Saharan Africa,LIC,Low Income Country,3,Disbursements,2019,259121747,259121747
15016,ZWE,Zimbabwe,5,Sub-Saharan Africa,LIC,Low Income Country,3,Disbursements,2020,180147412,176660081

In [442]:
df_FDAC=df_FDAC[['country_name','fiscal_year','current_amount']]

In [443]:
## df_FDAC.reset_index(inplace=True, drop=True)

In [444]:
df_FDAC

      country_name fiscal_year  current_amount
0            Aruba        1999           19000
1            Aruba        2000           50000
2            Aruba        2004            1000
3            Aruba        2005           29270
4            Aruba        2006            1000
...            ...         ...             ...
15012     Zimbabwe        2016       222623373
15013     Zimbabwe        2017       226474888
15014     Zimbabwe        2018       226874308
15015     Zimbabwe        2019       259121747
15016     Zimbabwe        2020       180147412

[15017 rows x 3 columns]

In [445]:
df_aid_CA= pd.pivot_table(df_FDAC, values='current_amount', index=['country_name'],

                    columns=['fiscal_year'], aggfunc=np.sum)

df_aid_CA.columns

Index(['1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954',
       '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1976tq', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020'],
      dtype='object', name='fiscal_year')

In [446]:
print(df_aid_CA.columns.get_loc('2004'))
df_aid_CA=df_aid_CA.iloc[:,60:]
df_aid_CA.dropna(axis=0,how='any')

59

fiscal_year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
country_name,,,,,,,,,,,,,,,,
Afghanistan,3.391289e+09,6.361362e+09,9.880703e+09,1.719297e+10,1.752472e+10,1.871558e+10,2.486728e+10,2.320455e+10,1.969943e+10,1.416451e+10,1.754771e+10,9.382869e+09,1.079283e+10,1.113046e+10,9.562266e+09,1.360928e+09
Albania,9.132096e+07,1.022055e+08,7.648003e+07,7.082324e+07,9.223029e+07,7.417608e+07,6.113142e+07,6.478147e+07,5.739258e+07,5.221048e+07,5.116296e+07,5.616295e+07,6.492435e+07,4.013212e+07,4.809986e+07,1.641899e+07
Algeria,4.951771e+06,5.228942e+06,9.057333e+06,2.250425e+07,2.111466e+07,2.551330e+07,2.179574e+07,2.507678e+07,2.933503e+07,2.199244e+07,2.371333e+07,2.585876e+07,2.925078e+07,1.750684e+07,4.593895e+07,3.281676e+06
Angola,1.517075e+08,1.425898e+08,9.682566e+07,1.131322e+08,1.031617e+08,1.610727e+08,1.501482e+08,1.551133e+08,1.315666e+08,1.226861e+08,1.205382e+08,1.363027e+08,1.328989e+08,1.027122e+08,9.972517e+07,4.649795e+07
Antigua and Barbuda,1.315944e+06,8.967330e+05,1.080000e+06,2.120000e+05,1.410172e+06,4.624538e+06,8.039660e+05,9.605000e+05,1.051000e+06,1.024000e+06,7.700000e+05,1.271562e+06,1.794773e+06,9.105000e+04,3.025660e+05,1.509020e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Hemisphere Region,5.723200e+04,2.450000e+04,8.742200e+05,8.129820e+05,5.369230e+05,8.584160e+05,4.186251e+06,1.203771e+06,5.078662e+06,4.575665e+06,4.730518e+06,3.036473e+06,3.538027e+07,-2.510330e+05,6.451610e+05,2.011050e+05
World,1.120718e+10,9.349320e+09,1.085248e+10,1.289047e+10,1.435899e+10,1.447220e+10,1.616148e+10,1.916881e+10,1.953790e+10,1.982904e+10,1.938046e+10,2.310658e+10,2.066430e+10,2.045297e+10,2.089384e+10,1.099529e+10
Yemen,5.940436e+07,8.664749e+07,7.002986e+07,6.496736e+07,5.936486e+07,1.795835e+08,2.340032e+08,4.287768e+08,5.537308e+08,4.856020e+08,3.346479e+08,5.986125e+08,1.090840e+09,1.213790e+09,1.502882e+09,8.009959e+08
Zambia,2.637837e+08,3.086403e+08,3.583399e+08,4.440970e+08,4.315546e+08,5.046371e+08,4.849470e+08,6.556187e+08,6.429670e+08,1.011223e+09,5.317141e+08,7.936379e+08,8.994492e+08,7.468033e+08,6.942587e+08,3.396336e+08
Zimbabwe,1.053521e+08,6.310259e+07,2.641580e+08,3.582636e+08,5.473579e+08,3.834448e+08,3.477545e+08,3.329996e+08,3.544646e+08,3.576290e+08,3.547853e+08,4.840652e+08,4.424636e+08,4.556894e+08,5.579680e+08,3.785962e+08

In [240]:
df_aid_CA.dropna(axis=1, how='any',inplace=True)
df_aid_CA

Empty DataFrame
Columns: []
Index: [Afghanistan, Albania, Algeria, Angola, Anguilla, Antigua and Barbuda, Argentina, Armenia, Aruba, Asia Region, Asia, Middle East and North Africa Region, Australia, Austria, Azerbaijan, Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize, Benin, Berlin, West, Bermuda, Bhutan, Bolivia, Bosnia and Herzegovina, Botswana, Brazil, British Indian Ocean Territory, British Virgin Islands, Brunei, Bulgaria, Burkina Faso, Burma (Myanmar), Burundi, Cabo Verde, Cambodia, Cameroon, Canada, Caribbean Region, Cayman Islands, Central African Republic, Central America Region, Central America and Caribbean Region, Central and Eastern Europe Region, Chad, Chile, China (P.R. Hong Kong), China (P.R.C.), China (Tibet), Colombia, Comoros, Congo (Brazzaville), Congo (Kinshasa), Cook Islands, Costa Rica, Cote d'Ivoire, Croatia, Cuba, Curacao, Cyprus, Czechia, Czechoslovakia (former), Denmark, Djibouti, Dominica, Dominican Republic, East Asia and Oceania Region, East and South Africa Region, Eastern Africa Region, Eastern Asia Region, Eastern Europe Region, Eastern and Central Africa Region, Ecuador, Egypt, El Salvador, Equatorial Guinea, Eritrea, Estonia, Eswatini, Ethiopia, Eurasia Region, Europe Region, Europe and Eurasia Region, Fiji, Finland, France, French Guiana, French Polynesia, Gabon, Gambia, Georgia, Germany, Germany (former East), Ghana, Greece, Grenada, Guatemala, Guinea, ...]

[253 rows x 0 columns]

In [331]:
set_countries_aid_CA=set((df_aid_CA.index.str.strip()))

In [332]:
set_countries_HDI=set((df_HDI['Country'].str.strip()))

In [333]:
set_countries_HDI.difference(set_countries_aid_CA)

{'Andorra',
 'Bolivia (Plurinational State of)',
 'Brunei Darussalam',
 'China',
 'Congo',
 'Congo (Democratic Republic of the)',
 "Côte d'Ivoire",
 'Eswatini (Kingdom of)',
 'Hong Kong, China (SAR)',
 'Iran (Islamic Republic of)',
 'Korea (Republic of)',
 "Lao People's Democratic Republic",
 'Liechtenstein',
 'Micronesia (Federated States of)',
 'Moldova (Republic of)',
 'Myanmar',
 'Palestine, State of',
 'Russian Federation',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'Syrian Arab Republic',
 'Tanzania (United Republic of)',
 'United States',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam'}

In [334]:
diff1_hdi_minus_aid=list(set_countries_HDI.difference(set_countries_aid_CA))

In [335]:
diff1_hdi_minus_aid

['Viet Nam',
 'Saint Lucia',
 'Moldova (Republic of)',
 'Korea (Republic of)',
 "Lao People's Democratic Republic",
 'Myanmar',
 'Russian Federation',
 'Venezuela (Bolivarian Republic of)',
 'Saint Vincent and the Grenadines',
 'Andorra',
 'Eswatini (Kingdom of)',
 'Congo (Democratic Republic of the)',
 'Hong Kong, China (SAR)',
 'United States',
 'Palestine, State of',
 'Micronesia (Federated States of)',
 'Saint Kitts and Nevis',
 "Côte d'Ivoire",
 'Slovakia',
 'Tanzania (United Republic of)',
 'Congo',
 'Iran (Islamic Republic of)',
 'Syrian Arab Republic',
 'China',
 'Bolivia (Plurinational State of)',
 'Liechtenstein',
 'Brunei Darussalam']

In [336]:
diff2_aid_minus_hdi=set_countries_aid_CA.difference(set_countries_HDI)
diff2_aid_minus_hdi

{'Anguilla',
 'Aruba',
 'Asia Region',
 'Asia, Middle East and North Africa Region',
 'Bermuda',
 'Bolivia',
 'British Indian Ocean Territory',
 'British Virgin Islands',
 'Brunei',
 'Burma (Myanmar)',
 'Caribbean Region',
 'Cayman Islands',
 'Central America Region',
 'Central America and Caribbean Region',
 'Central and Eastern Europe Region',
 'China (P.R. Hong Kong)',
 'China (P.R.C.)',
 'China (Tibet)',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Cook Islands',
 "Cote d'Ivoire",
 'Curacao',
 'Czechoslovakia (former)',
 'East Asia and Oceania Region',
 'East and South Africa Region',
 'Eastern Africa Region',
 'Eastern Asia Region',
 'Eastern Europe Region',
 'Eastern and Central Africa Region',
 'Eswatini',
 'Eurasia Region',
 'Europe Region',
 'Europe and Eurasia Region',
 'French Guiana',
 'French Polynesia',
 'Iran',
 'Korea Republic',
 'Korea, Democratic Republic',
 'Kosovo',
 'Laos',
 'Latin America Region',
 'Latin America and Caribbean Region',
 'Macau',
 'Martinique',
 'Micronesia (Federated States)',
 'Middle East Region',
 'Middle East and North Africa Region',
 'Moldova',
 'Montserrat',
 'Nauru',
 'Netherlands Antilles (former)',
 'New Caledonia',
 'North Africa Region',
 'North America Region',
 'North and Central America Region',
 'Oceania Region',
 'Pacific Island Trust Territory',
 'Russia',
 'Serbia and Montenegro (former)',
 'Slovak Republic',
 'Somalia',
 'South America Region',
 'South East Asia Region',
 'South and Central Asia Region',
 'Southern Africa Region',
 'Southern Asia Region',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and Grenadines',
 'Sub-Saharan Africa Region',
 'Sudan (former)',
 'Syria',
 'Taiwan',
 'Tanzania',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Venezuela',
 'Vietnam',
 'West Africa Region',
 'West Bank/Gaza',
 'Western (Spanish) Sahara',
 'Western Europe Region',
 'Western Hemisphere Region',
 'World'}

In [337]:
df_HDI['Country']=df_HDI['Country'].str.strip()

<ipython-input-337-c9dad182c0a5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HDI['Country']=df_HDI['Country'].str.strip()

In [338]:
df_HDI['Country'].replace(
{'Bolivia (Plurinational State of)':'Bolivia', 
 'Brunei Darussalam':'Brunei',
 'Hong Kong, China (SAR)':'China (P.R. Hong Kong)',
 'Congo':'Congo (Brazzaville)',
 'Congo (Democratic Republic of the)':'Congo (Kinshasa)',
 "Côte d'Ivoire":"Cote d'Ivoire",
 'Eswatini (Kingdom of)':'Eswatini',
 'Iran (Islamic Republic of)':'Iran',
 'Korea (Republic of)':'Korea Republic',
 "Lao People's Democratic Republic":'Laos',
 'Micronesia (Federated States of)':'Micronesia (Federated States)',
 'Moldova (Republic of)':'Moldova',
 'Russian Federation':'Russia',
 'Saint Kitts and Nevis':'St. Kitts and Nevis',
 'Saint Lucia':'St. Lucia',
 'Saint Vincent and the Grenadines':'St. Vincent and Grenadines',
 'Slovakia':'Slovak Republic',
 'Syrian Arab Republic':'Syria',
 'Tanzania (United Republic of)':'Tanzania',
 'Viet Nam':'Vietnam',
 'Venezuela (Bolivarian Republic of)':'Venezuela'},inplace=True)

C:\Users\dccam\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [339]:
set_countries_HDI=set((df_HDI['Country'].str.strip()))

new_diff1_hdi_minus_aid=list(set_countries_HDI.difference(set_countries_aid_CA))
new_diff1_hdi_minus_aid

['United States',
 'China',
 'Palestine, State of',
 'Liechtenstein',
 'Andorra',
 'Myanmar']

In [340]:
df_aid_CA.iloc[47:50]

fiscal_year,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
country_name,,,,,,,,,,,,,,,,,,,,
China (P.R. Hong Kong),55318.0,57427.0,500433.0,192632.0,21696.0,164977.0,135000.0,125456.0,952934.0,1555368.0,339849.0,754532.0,295031.0,272179.0,250465.0,288409.0,970038.0,699000.0,746634.0,NaN
China (P.R.C.),7974979.0,21964611.0,22526707.0,21182673.0,24388489.0,17739103.0,38409500.0,66725262.0,48025778.0,85975213.0,64645791.0,49896300.0,52077871.0,47245196.0,30723467.0,45527251.0,38249785.0,35915629.0,34580415.0,10844572.0
China (Tibet),80000.0,80000.0,1600000.0,1085000.0,86000.0,94606.0,583000.0,113000.0,408929.0,391000.0,420000.0,414000.0,415635.0,606466.0,746000.0,1002850.0,820000.0,680890.0,564702.0,NaN

In [341]:
list_years_1China=list(df_aid_CA.iloc[48:50].sum().index)
list_sums_1China=list(df_aid_CA.iloc[48:50].sum())


dict_china=dict(zip(list_years_1China,list_sums_1China))
print(dict_china)



new_row = pd.Series(data=dict_china, name='China')
new_row

{'2001': 8054979.0, '2002': 22044611.0, '2003': 24126707.0, '2004': 22267673.0, '2005': 24474489.0, '2006': 17833709.0, '2007': 38992500.0, '2008': 66838262.0, '2009': 48434707.0, '2010': 86366213.0, '2011': 65065791.0, '2012': 50310300.0, '2013': 52493506.0, '2014': 47851662.0, '2015': 31469467.0, '2016': 46530101.0, '2017': 39069785.0, '2018': 36596519.0, '2019': 35145117.0, '2020': 10844572.0}

2001     8054979.0
2002    22044611.0
2003    24126707.0
2004    22267673.0
2005    24474489.0
2006    17833709.0
2007    38992500.0
2008    66838262.0
2009    48434707.0
2010    86366213.0
2011    65065791.0
2012    50310300.0
2013    52493506.0
2014    47851662.0
2015    31469467.0
2016    46530101.0
2017    39069785.0
2018    36596519.0
2019    35145117.0
2020    10844572.0
Name: China, dtype: float64

In [342]:
#df_aid_CA.reset_index(drop=False).columns

In [343]:
#append row to the dataframe
df_aid_CA = df_aid_CA.append(new_row, ignore_index=False)
df_aid_CA


#df_marks = df_marks.append(new_row, ignore_index=True)

fiscal_year,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
country_name,,,,,,,,,,,,,,,,,,,,
Afghanistan,4.079088e+07,4.002967e+08,7.033452e+08,1.240018e+09,1.661364e+09,3.357301e+09,4.900576e+09,8.334698e+09,8.560260e+09,7.841937e+09,1.144900e+10,1.010858e+10,9.962970e+09,6.993194e+09,9.284463e+09,4.322745e+09,5.026191e+09,5.181168e+09,4.669036e+09,8.129771e+08
Albania,4.171619e+07,5.722962e+07,5.275829e+07,6.256914e+07,4.778625e+07,4.863370e+07,4.191058e+07,3.998310e+07,3.852062e+07,3.721496e+07,3.347960e+07,2.763085e+07,3.070376e+07,2.542644e+07,2.313791e+07,2.870359e+07,3.663386e+07,2.197861e+07,2.481227e+07,7.980684e+06
Algeria,4.079930e+05,3.329738e+06,3.695561e+06,4.000414e+06,2.447189e+06,1.550195e+06,2.977721e+06,9.804940e+06,9.052562e+06,9.932163e+06,1.051376e+07,1.255764e+07,1.230628e+07,9.249762e+06,8.997462e+06,8.131051e+06,1.925737e+07,6.044734e+06,1.796278e+07,9.894190e+05
Angola,6.440196e+07,1.110136e+08,1.491305e+08,1.291035e+08,8.423896e+07,6.166719e+07,4.333030e+07,5.560407e+07,4.874981e+07,6.119865e+07,6.805033e+07,8.094505e+07,7.657620e+07,6.760084e+07,6.221246e+07,6.915313e+07,5.695658e+07,5.213682e+07,5.126563e+07,1.893833e+07
Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.100000e+01,NaN,NaN,2.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,-3.183700e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,2.725465e+09,3.468853e+09,2.791255e+09,5.653886e+09,5.465700e+09,4.349742e+09,4.889332e+09,6.657232e+09,7.149015e+09,6.435245e+09,7.682712e+09,9.529895e+09,9.746817e+09,9.470824e+09,9.375640e+09,1.119448e+10,1.065630e+10,1.114349e+10,1.139739e+10,5.518623e+09
Yemen,2.528023e+06,2.199146e+07,3.397188e+07,5.779357e+07,3.018624e+07,4.177074e+07,3.451818e+07,3.043132e+07,2.911145e+07,5.719285e+07,9.926644e+07,1.989171e+08,2.637606e+08,2.418447e+08,1.578149e+08,2.725498e+08,4.373092e+08,5.653565e+08,6.930979e+08,5.112281e+08
Zambia,3.128436e+07,5.124299e+07,5.644021e+07,6.341950e+07,9.043075e+07,1.210551e+08,1.716486e+08,2.077928e+08,2.260960e+08,2.410779e+08,2.497479e+08,2.978683e+08,3.316773e+08,3.384561e+08,2.872204e+08,3.479753e+08,4.760118e+08,4.735047e+08,3.846704e+08,1.622990e+08
Zimbabwe,1.677028e+07,4.219290e+07,3.534751e+07,2.996196e+07,4.808168e+07,2.998403e+07,1.240515e+08,1.665157e+08,2.622366e+08,1.660656e+08,1.892179e+08,1.728692e+08,1.763943e+08,1.848148e+08,1.663675e+08,2.226234e+08,2.264749e+08,2.268743e+08,2.591217e+08,1.801474e+08
China,8.054979e+06,2.204461e+07,2.412671e+07,2.226767e+07,2.447449e+07,1.783371e+07,3.899250e+07,6.683826e+07,4.843471e+07,8.636621e+07,6.506579e+07,5.031030e+07,5.249351e+07,4.785166e+07,3.146947e+07,4.653010e+07,3.906978e+07,3.659652e+07,3.514512e+07,1.084457e+07

In [344]:
df_aid_CA.drop(df_aid_CA.iloc[48:50].index,axis=0,inplace=True)

In [345]:
df_aid_CA=df_aid_CA.reset_index(drop=False)
df_aid_CA.head(10)

fiscal_year,country_name,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,40790880.0,400296704.0,703345174.0,1.240018e+09,1.661364e+09,3.357301e+09,4.900576e+09,8.334698e+09,8.560260e+09,...,1.144900e+10,1.010858e+10,9.962970e+09,6.993194e+09,9.284463e+09,4.322745e+09,5.026191e+09,5.181168e+09,4.669036e+09,812977146.0
1,Albania,41716190.0,57229623.0,52758289.0,6.256914e+07,4.778625e+07,4.863370e+07,4.191058e+07,3.998310e+07,3.852062e+07,...,3.347960e+07,2.763085e+07,3.070376e+07,2.542644e+07,2.313791e+07,2.870359e+07,3.663386e+07,2.197861e+07,2.481227e+07,7980684.0
2,Algeria,407993.0,3329738.0,3695561.0,4.000414e+06,2.447189e+06,1.550195e+06,2.977721e+06,9.804940e+06,9.052562e+06,...,1.051376e+07,1.255764e+07,1.230628e+07,9.249762e+06,8.997462e+06,8.131051e+06,1.925737e+07,6.044734e+06,1.796278e+07,989419.0
3,Angola,64401962.0,111013572.0,149130500.0,1.291035e+08,8.423896e+07,6.166719e+07,4.333030e+07,5.560407e+07,4.874981e+07,...,6.805033e+07,8.094505e+07,7.657620e+07,6.760084e+07,6.221246e+07,6.915313e+07,5.695658e+07,5.213682e+07,5.126563e+07,18938326.0
4,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,-31837.0
5,Antigua and Barbuda,796000.0,3647999.0,332000.0,1.532001e+06,6.579720e+05,4.469770e+05,5.400000e+05,1.060000e+05,7.050860e+05,...,3.977330e+05,4.845000e+05,5.255000e+05,5.120000e+05,3.850000e+05,6.357810e+05,7.763610e+05,3.718000e+03,1.349560e+05,48916.0
6,Argentina,4188748.0,3143932.0,5438747.0,2.713309e+06,2.434458e+06,2.882212e+06,5.644782e+06,8.071001e+06,3.832029e+06,...,3.900610e+06,1.006899e+07,3.653646e+06,2.295259e+06,1.728655e+06,6.160167e+06,2.578321e+06,5.440637e+06,7.810230e+06,2307768.0
7,Armenia,68344449.0,90105389.0,95549094.0,8.278263e+07,7.048198e+07,7.500156e+07,9.298835e+07,1.005355e+08,8.881396e+07,...,1.315290e+08,8.412541e+07,6.400760e+07,4.529159e+07,3.565395e+07,4.535221e+07,3.258788e+07,3.814782e+07,3.437360e+07,26602208.0
8,Aruba,NaN,NaN,NaN,1.000000e+03,2.927000e+04,1.000000e+03,6.157700e+04,1.113800e+04,5.258000e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Asia Region,72790556.0,103554484.0,3604419.0,2.461557e+08,1.118045e+08,1.304106e+08,1.729153e+08,1.216733e+08,1.560509e+08,...,2.824396e+08,3.129576e+08,2.114177e+08,3.259549e+08,2.537965e+08,1.498287e+08,2.189773e+08,9.243519e+07,6.226908e+07,34956838.0

In [346]:
set_countries_HDI=set((df_HDI['Country'].str.strip()))
set_countries_aid_CA=set(df_aid_CA['country_name'].str.strip())

new_diff1_hdi_minus_aid=list(set_countries_HDI.difference(set_countries_aid_CA))
new_diff1_hdi_minus_aid

['United States', 'Palestine, State of', 'Liechtenstein', 'Andorra', 'Myanmar']

In [347]:
df_HDI['Country']=df_HDI['Country'].str.strip()

<ipython-input-347-c9dad182c0a5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HDI['Country']=df_HDI['Country'].str.strip()

In [348]:
df_HDI[df_HDI['Country']=='Andorra']

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,Andorra,..,..,..,..,..,..,..,..,..,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857

In [349]:
remove_indexes=[]

[remove_indexes.append(df_HDI[df_HDI['Country']==x].index.values[0]) for x in new_diff1_hdi_minus_aid];
remove_indexes

[181, 132, 100, 4, 119]

In [350]:
df_HDI.iloc[3]

Country    Andorra
1990            ..
1991            ..
1992            ..
1993            ..
1994            ..
1995            ..
1996            ..
1997            ..
1998            ..
1999            ..
2000         0.759
2001         0.767
2002         0.780
2003         0.820
2004         0.826
2005         0.819
2006         0.829
2007         0.829
2008         0.831
2009         0.830
2010         0.828
2011         0.827
2012         0.849
2013         0.846
2014         0.853
2015         0.850
2016         0.854
2017         0.852
2018         0.857
Name: 4, dtype: object

In [351]:
df_HDI.drop(remove_indexes,inplace=True)
df_HDI

C:\Users\dccam\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,0.339,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
2,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,0.649,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
3,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,0.629,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
5,Angola,..,..,..,..,..,..,..,..,..,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
6,Antigua and Barbuda,..,..,..,..,..,..,..,..,..,...,0.776,0.772,0.764,0.767,0.767,0.767,0.770,0.772,0.774,0.776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Venezuela,0.638,0.648,0.654,0.656,0.657,0.660,0.662,0.666,0.668,...,0.752,0.753,0.764,0.767,0.772,0.770,0.763,0.752,0.735,0.726
186,Vietnam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,0.559,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
187,Yemen,0.392,0.396,0.395,0.398,0.398,0.393,0.408,0.418,0.430,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
188,Zambia,0.424,0.421,0.420,0.422,0.418,0.419,0.419,0.420,0.419,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
189,Zimbabwe,0.498,0.500,0.485,0.480,0.478,0.472,0.471,0.466,0.461,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563

In [352]:
df_HDI[df_HDI['Country']=='Andorra']

Empty DataFrame
Columns: [Country, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
Index: []

[0 rows x 30 columns]

In [353]:
df_HDI.reset_index(drop=True)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,0.339,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,0.649,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,0.629,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,Angola,..,..,..,..,..,..,..,..,..,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
4,Antigua and Barbuda,..,..,..,..,..,..,..,..,..,...,0.776,0.772,0.764,0.767,0.767,0.767,0.770,0.772,0.774,0.776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,0.638,0.648,0.654,0.656,0.657,0.660,0.662,0.666,0.668,...,0.752,0.753,0.764,0.767,0.772,0.770,0.763,0.752,0.735,0.726
180,Vietnam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,0.559,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
181,Yemen,0.392,0.396,0.395,0.398,0.398,0.393,0.408,0.418,0.430,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
182,Zambia,0.424,0.421,0.420,0.422,0.418,0.419,0.419,0.420,0.419,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
183,Zimbabwe,0.498,0.500,0.485,0.480,0.478,0.472,0.471,0.466,0.461,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563

In [354]:
df_aid_CA.rename(columns={'country_name':'Country'},inplace=True)

In [355]:
merged=pd.merge(df_aid_CA,df_HDI,on=['Country'])

In [356]:
merged.columns

Index(['Country', '2001_x', '2002_x', '2003_x', '2004_x', '2005_x', '2006_x',
       '2007_x', '2008_x', '2009_x', '2010_x', '2011_x', '2012_x', '2013_x',
       '2014_x', '2015_x', '2016_x', '2017_x', '2018_x', '2019', '2020',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001_y', '2002_y', '2003_y', '2004_y', '2005_y',
       '2006_y', '2007_y', '2008_y', '2009_y', '2010_y', '2011_y', '2012_y',
       '2013_y', '2014_y', '2015_y', '2016_y', '2017_y', '2018_y'],
      dtype='object')

In [357]:
merged.drop(['2019', '2020',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000'],axis=1,inplace=True)

In [358]:
merged.columns

Index(['Country', '2001_x', '2002_x', '2003_x', '2004_x', '2005_x', '2006_x',
       '2007_x', '2008_x', '2009_x', '2010_x', '2011_x', '2012_x', '2013_x',
       '2014_x', '2015_x', '2016_x', '2017_x', '2018_x', '2001_y', '2002_y',
       '2003_y', '2004_y', '2005_y', '2006_y', '2007_y', '2008_y', '2009_y',
       '2010_y', '2011_y', '2012_y', '2013_y', '2014_y', '2015_y', '2016_y',
       '2017_y', '2018_y'],
      dtype='object')

In [359]:
merged['2001_x'].isnull().values.any()

True

In [360]:
merged[['2001_x', '2002_x', '2003_x', '2004_x', '2005_x', '2006_x', '2007_x',
       '2008_x', '2009_x', '2010_x', '2011_x', '2012_x', '2013_x', '2014_x',
       '2015_x', '2016_x', '2017_x', '2018_x', '2001_y', '2002_y', '2003_y',
       '2004_y', '2005_y', '2006_y', '2007_y', '2008_y', '2009_y', '2010_y',
       '2011_y', '2012_y', '2013_y', '2014_y', '2015_y', '2016_y', '2017_y',
       '2018_y']]=merged[['2001_x', '2002_x', '2003_x', '2004_x', '2005_x', '2006_x', '2007_x',
       '2008_x', '2009_x', '2010_x', '2011_x', '2012_x', '2013_x', '2014_x',
       '2015_x', '2016_x', '2017_x', '2018_x', '2001_y', '2002_y', '2003_y',
       '2004_y', '2005_y', '2006_y', '2007_y', '2008_y', '2009_y', '2010_y',
       '2011_y', '2012_y', '2013_y', '2014_y', '2015_y', '2016_y', '2017_y',
       '2018_y']].apply (pd.to_numeric, errors='coerce')

In [361]:
merged.dropna(inplace=True)

In [362]:
[print(x,merged[x].value_counts()) for x in merged.columns[1:]];

2001_x 275119873.0    1
103426936.0    1
55318.0        1
44472206.0     1
33609551.0     1
              ..
63352174.0     1
68344449.0     1
10550150.0     1
13540250.0     1
115245094.0    1
Name: 2001_x, Length: 136, dtype: int64
2002_x 2234365.0      1
40965308.0     1
92221654.0     1
7387893.0      1
12903901.0     1
              ..
381000.0       1
798067788.0    1
66118147.0     1
42717831.0     1
40000.0        1
Name: 2002_x, Length: 136, dtype: int64
2003_x 44043800.0     1
6257286.0      1
19139426.0     1
94579915.0     1
24890081.0     1
              ..
86242054.0     1
75154.0        1
10079098.0     1
140884192.0    1
77758665.0     1
Name: 2003_x, Length: 136, dtype: int64
2004_x 9.377250e+05    1
3.768666e+06    1
8.200971e+06    1
1.235819e+07    1
2.620100e+07    1
               ..
9.973567e+06    1
4.387196e+07    1
1.313480e+07    1
5.680000e+05    1
2.132281e+09    1
Name: 2004_x, Length: 136, dtype: int64
2005_x 82578951.0    1
8529148.0     1
24947602.0    1
2832751.0     1
800089.0      1
             ..
25321397.0    1
1304812.0     1
40711088.0    1
86891838.0    1
21696.0       1
Name: 2005_x, Length: 136, dtype: int64
2006_x 40927053.0     1
22768116.0     1
45949493.0     1
20294393.0     1
116632410.0    1
              ..
31143485.0     1
29984027.0     1
52309352.0     1
71621679.0     1
121055117.0    1
Name: 2006_x, Length: 136, dtype: int64
2007_x 103153663.0    1
200275.0       1
1806006.0      1
43865176.0     1
1864352.0      1
              ..
316886438.0    1
25293737.0     1
25639544.0     1
30169015.0     1
6871040.0      1
Name: 2007_x, Length: 136, dtype: int64
2008_x 7.759460e+07    1
1.348950e+07    1
7.664380e+08    1
4.792636e+07    1
3.998310e+07    1
               ..
9.763609e+06    1
6.683826e+07    1
1.255260e+06    1
1.332707e+09    1
3.227655e+07    1
Name: 2008_x, Length: 136, dtype: int64
2009_x 6756342.0      1
8492328.0      1
107556333.0    1
3862504.0      1
15209843.0     1
              ..
27162541.0     1
57094299.0     1
173393317.0    1
712711045.0    1
51232812.0     1
Name: 2009_x, Length: 136, dtype: int64
2010_x 19505047.0     1
122199.0       1
147781518.0    1
22989695.0     1
65574460.0     1
              ..
99343121.0     1
2271967.0      1
122412152.0    1
21011939.0     1
95486264.0     1
Name: 2010_x, Length: 136, dtype: int64
2011_x 2.497479e+08    1
2.120280e+09    1
1.182604e+06    1
6.506579e+07    1
6.970704e+07    1
               ..
6.844365e+07    1
1.451076e+09    1
5.420995e+07    1
1.163910e+07    1
1.305600e+06    1
Name: 2011_x, Length: 136, dtype: int64
2012_x 402783798.0    1
18548958.0     1
18477280.0     1
432578485.0    1
84125414.0     1
              ..
797958978.0    1
27350795.0     1
110026072.0    1
57749243.0     1
60533999.0     1
Name: 2012_x, Length: 136, dtype: int64
2013_x 218365945.0    1
992585.0       1
31435360.0     1
41931821.0     1
480680999.0    1
              ..
873591.0       1
19014587.0     1
64007600.0     1
15743906.0     1
552077348.0    1
Name: 2013_x, Length: 136, dtype: int64
2014_x 16756733.0     1
37753829.0     1
169630578.0    1
29567810.0     1
142759808.0    1
              ..
3140014.0      1
229551306.0    1
7376234.0      1
37202891.0     1
294882.0       1
Name: 2014_x, Length: 136, dtype: int64
2015_x 7.784433e+06    1
4.726030e+07    1
1.498870e+07    1
8.219105e+08    1
3.565395e+07    1
               ..
1.446232e+09    1
1.018373e+08    1
8.161604e+07    1
8.289441e+07    1
7.608733e+07    1
Name: 2015_x, Length: 136, dtype: int64
2016_x 13975526.0     1
351312619.0    1
69153129.0     1
2175117.0      1
132852777.0    1
              ..
79335529.0     1
137480132.0    1
54439588.0     1
11222167.0     1
11685904.0     1
Name: 2016_x, Length: 136, dtype: int64
2017_x 130481858.0    1
479636318.0    1
454476025.0    1
121319258.0    1
1127099.0      1
              ..
226474888.0    1
14093277.0     1
7304682.0      1
16669677.0     1
134742764.0    1
Name: 2017_x, Length: 136, dtype: int64
2018_x 10822226.0     1
4857615.0      1
1114318.0      1
937269659.0    1
96187077.0     1
              ..
264927.0       1
114680148.0    1
163038130.0    1
157074519.0    1
62636071.0     1
Name: 2018_x, Length: 136, dtype: int64
2001_y 0.722    3
0.673    3
0.708    3
0.462    2
0.745    2
        ..
0.450    1
0.566    1
0.501    1
0.691    1
0.612    1
Name: 2001_y, Length: 117, dtype: int64
2002_y 0.688    3
0.724    2
0.456    2
0.576    2
0.679    2
        ..
0.725    1
0.450    1
0.581    1
0.628    1
0.625    1
Name: 2002_y, Length: 116, dtype: int64
2003_y 0.687    3
0.623    2
0.793    2
0.455    2
0.310    2
        ..
0.657    1
0.850    1
0.387    1
0.747    1
0.625    1
Name: 2003_y, Length: 118, dtype: int64
2004_y 0.448    2
0.674    2
0.685    2
0.745    2
0.629    2
        ..
0.742    1
0.325    1
0.276    1
0.363    1
0.391    1
Name: 2004_y, Length: 121, dtype: int64
2005_y 0.700    3
0.632    3
0.729    2
0.693    2
0.702    2
        ..
0.496    1
0.363    1
0.283    1
0.845    1
0.750    1
Name: 2005_y, Length: 119, dtype: int64
2006_y 0.624    3
0.484    2
0.447    2
0.752    2
0.761    2
        ..
0.502    1
0.645    1
0.706    1
0.740    1
0.750    1
Name: 2006_y, Length: 117, dtype: int64
2007_y 0.713    3
0.724    2
0.441    2
0.482    2
0.492    2
        ..
0.615    1
0.794    1
0.850    1
0.382    1
0.625    1
Name: 2007_y, Length: 114, dtype: int64
2008_y 0.681    3
0.647    2
0.721    2
0.767    2
0.500    2
        ..
0.532    1
0.411    1
0.753    1
0.657    1
0.375    1
Name: 2008_y, Length: 124, dtype: int64
2009_y 0.718    3
0.724    3
0.448    2
0.468    2
0.506    2
        ..
0.779    1
0.650    1
0.391    1
0.774    1
0.500    1
Name: 2009_y, Length: 115, dtype: int64
2010_y 0.732    3
0.729    2
0.721    2
0.762    2
0.510    2
        ..
0.669    1
0.850    1
0.764    1
0.490    1
0.375    1
Name: 2010_y, Length: 122, dtype: int64
2011_y 0.798    3
0.853    3
0.663    3
0.733    2
0.738    2
        ..
0.525    1
0.408    1
0.695    1
0.490    1
0.532    1
Name: 2011_y, Length: 112, dtype: int64
2012_y 0.782    3
0.734    2
0.501    2
0.736    2
0.548    2
        ..
0.408    1
0.524    1
0.552    1
0.726    1
0.625    1
Name: 2012_y, Length: 124, dtype: int64
2013_y 0.775    3
0.673    2
0.811    2
0.787    2
0.720    2
        ..
0.900    1
0.559    1
0.725    1
0.656    1
0.500    1
Name: 2013_y, Length: 118, dtype: int64
2014_y 0.750    2
0.796    2
0.764    2
0.446    2
0.660    2
        ..
0.779    1
0.697    1
0.900    1
0.501    1
0.441    1
Name: 2014_y, Length: 121, dtype: int64
2015_y 0.515    2
0.742    2
0.714    2
0.786    2
0.585    2
        ..
0.906    1
0.493    1
0.927    1
0.566    1
0.750    1
Name: 2015_y, Length: 125, dtype: int64
2016_y 0.722    3
0.808    3
0.420    2
0.757    2
0.749    2
        ..
0.639    1
0.365    1
0.649    1
0.851    1
0.875    1
Name: 2016_y, Length: 118, dtype: int64
2017_y 0.813    4
0.758    3
0.603    2
0.643    2
0.609    2
        ..
0.401    1
0.841    1
0.467    1
0.804    1
0.822    1
Name: 2017_y, Length: 116, dtype: int64
2018_y 0.651    3
0.759    3
0.609    2
0.563    2
0.817    2
        ..
0.401    1
0.824    1
0.485    1
0.438    1
0.750    1
Name: 2018_y, Length: 117, dtype: int64

In [363]:
merged

,Country,2001_x,2002_x,2003_x,2004_x,2005_x,2006_x,2007_x,2008_x,2009_x,...,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y
0,Afghanistan,40790880.0,400296704.0,703345174.0,1.240018e+09,1.661364e+09,3.357301e+09,4.900576e+09,8.334698e+09,8.560260e+09,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,Albania,41716190.0,57229623.0,52758289.0,6.256914e+07,4.778625e+07,4.863370e+07,4.191058e+07,3.998310e+07,3.852062e+07,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,Algeria,407993.0,3329738.0,3695561.0,4.000414e+06,2.447189e+06,1.550195e+06,2.977721e+06,9.804940e+06,9.052562e+06,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,Angola,64401962.0,111013572.0,149130500.0,1.291035e+08,8.423896e+07,6.166719e+07,4.333030e+07,5.560407e+07,4.874981e+07,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
5,Argentina,4188748.0,3143932.0,5438747.0,2.713309e+06,2.434458e+06,2.882212e+06,5.644782e+06,8.071001e+06,3.832029e+06,...,0.810,0.818,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Vietnam,10200952.0,9020523.0,39640000.0,3.874138e+07,2.494760e+07,4.594949e+07,4.386518e+07,5.939132e+07,8.245211e+07,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
180,Yemen,2528023.0,21991456.0,33971875.0,5.779357e+07,3.018624e+07,4.177074e+07,3.451818e+07,3.043132e+07,2.911145e+07,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
181,Zambia,31284363.0,51242992.0,56440206.0,6.341950e+07,9.043075e+07,1.210551e+08,1.716486e+08,2.077928e+08,2.260960e+08,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
182,Zimbabwe,16770276.0,42192899.0,35347514.0,2.996196e+07,4.808168e+07,2.998403e+07,1.240515e+08,1.665157e+08,2.622366e+08,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563
183,China,8054979.0,22044611.0,24126707.0,2.226767e+07,2.447449e+07,1.783371e+07,3.899250e+07,6.683826e+07,4.843471e+07,...,0.690,0.702,0.711,0.719,0.727,0.735,0.742,0.749,0.753,0.758

In [364]:
#change in HDI as  a part of total aid

merged.columns

Index(['Country', '2001_x', '2002_x', '2003_x', '2004_x', '2005_x', '2006_x',
       '2007_x', '2008_x', '2009_x', '2010_x', '2011_x', '2012_x', '2013_x',
       '2014_x', '2015_x', '2016_x', '2017_x', '2018_x', '2001_y', '2002_y',
       '2003_y', '2004_y', '2005_y', '2006_y', '2007_y', '2008_y', '2009_y',
       '2010_y', '2011_y', '2012_y', '2013_y', '2014_y', '2015_y', '2016_y',
       '2017_y', '2018_y'],
      dtype='object')

In [365]:
#Pivotted
#list(merged.columns).index('2018_x')
#print(len(list(merged.columns)[1:18]))#Aid
#################
#list(merged.columns)[19:37]#HDI
#3merged.shape[1]
merged

,Country,2001_x,2002_x,2003_x,2004_x,2005_x,2006_x,2007_x,2008_x,2009_x,...,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y
0,Afghanistan,40790880.0,400296704.0,703345174.0,1.240018e+09,1.661364e+09,3.357301e+09,4.900576e+09,8.334698e+09,8.560260e+09,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,Albania,41716190.0,57229623.0,52758289.0,6.256914e+07,4.778625e+07,4.863370e+07,4.191058e+07,3.998310e+07,3.852062e+07,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,Algeria,407993.0,3329738.0,3695561.0,4.000414e+06,2.447189e+06,1.550195e+06,2.977721e+06,9.804940e+06,9.052562e+06,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,Angola,64401962.0,111013572.0,149130500.0,1.291035e+08,8.423896e+07,6.166719e+07,4.333030e+07,5.560407e+07,4.874981e+07,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
5,Argentina,4188748.0,3143932.0,5438747.0,2.713309e+06,2.434458e+06,2.882212e+06,5.644782e+06,8.071001e+06,3.832029e+06,...,0.810,0.818,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Vietnam,10200952.0,9020523.0,39640000.0,3.874138e+07,2.494760e+07,4.594949e+07,4.386518e+07,5.939132e+07,8.245211e+07,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
180,Yemen,2528023.0,21991456.0,33971875.0,5.779357e+07,3.018624e+07,4.177074e+07,3.451818e+07,3.043132e+07,2.911145e+07,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
181,Zambia,31284363.0,51242992.0,56440206.0,6.341950e+07,9.043075e+07,1.210551e+08,1.716486e+08,2.077928e+08,2.260960e+08,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
182,Zimbabwe,16770276.0,42192899.0,35347514.0,2.996196e+07,4.808168e+07,2.998403e+07,1.240515e+08,1.665157e+08,2.622366e+08,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563
183,China,8054979.0,22044611.0,24126707.0,2.226767e+07,2.447449e+07,1.783371e+07,3.899250e+07,6.683826e+07,4.843471e+07,...,0.690,0.702,0.711,0.719,0.727,0.735,0.742,0.749,0.753,0.758

In [366]:
#merged.reset_index(drop=True,inplace=True)

In [367]:
#merged.columns

In [368]:

merged['Average_Aid']=merged[['2001_x', '2002_x', '2003_x', '2004_x', '2005_x', '2006_x',
       '2007_x', '2008_x', '2009_x', '2010_x', '2011_x', '2012_x', '2013_x',
       '2014_x', '2015_x']].sum(axis=1)

print(merged.head(5))

merged['Average_Aid']=merged['Average_Aid']/17

merged

       Country      2001_x       2002_x       2003_x        2004_x  \
0  Afghanistan  40790880.0  400296704.0  703345174.0  1.240018e+09
1      Albania  41716190.0   57229623.0   52758289.0  6.256914e+07
2      Algeria    407993.0    3329738.0    3695561.0  4.000414e+06
3       Angola  64401962.0  111013572.0  149130500.0  1.291035e+08
5    Argentina   4188748.0    3143932.0    5438747.0  2.713309e+06

         2005_x        2006_x        2007_x        2008_x        2009_x  ...  \
0  1.661364e+09  3.357301e+09  4.900576e+09  8.334698e+09  8.560260e+09  ...
1  4.778625e+07  4.863370e+07  4.191058e+07  3.998310e+07  3.852062e+07  ...
2  2.447189e+06  1.550195e+06  2.977721e+06  9.804940e+06  9.052562e+06  ...
3  8.423896e+07  6.166719e+07  4.333030e+07  5.560407e+07  4.874981e+07  ...
5  2.434458e+06  2.882212e+06  5.644782e+06  8.071001e+06  3.832029e+06  ...

   2010_y  2011_y  2012_y  2013_y  2014_y  2015_y  2016_y  2017_y  2018_y  \
0   0.464   0.465   0.479   0.485   0.488   0.490   0.491   0.493   0.496
1   0.740   0.759   0.771   0.781   0.787   0.788   0.788   0.789   0.791
2   0.730   0.738   0.737   0.746   0.749   0.751   0.755   0.758   0.759
3   0.510   0.525   0.537   0.547   0.557   0.565   0.570   0.576   0.574
5   0.818   0.823   0.823   0.824   0.825   0.828   0.828   0.832   0.830

    Average_Aid
0  8.483879e+10
1  6.087010e+08
2  1.008234e+08
3  1.163823e+09
5  6.541517e+07

[5 rows x 38 columns]

,Country,2001_x,2002_x,2003_x,2004_x,2005_x,2006_x,2007_x,2008_x,2009_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,Average_Aid
0,Afghanistan,40790880.0,400296704.0,703345174.0,1.240018e+09,1.661364e+09,3.357301e+09,4.900576e+09,8.334698e+09,8.560260e+09,...,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496,4.990517e+09
1,Albania,41716190.0,57229623.0,52758289.0,6.256914e+07,4.778625e+07,4.863370e+07,4.191058e+07,3.998310e+07,3.852062e+07,...,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791,3.580594e+07
2,Algeria,407993.0,3329738.0,3695561.0,4.000414e+06,2.447189e+06,1.550195e+06,2.977721e+06,9.804940e+06,9.052562e+06,...,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759,5.930787e+06
3,Angola,64401962.0,111013572.0,149130500.0,1.291035e+08,8.423896e+07,6.166719e+07,4.333030e+07,5.560407e+07,4.874981e+07,...,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574,6.846020e+07
5,Argentina,4188748.0,3143932.0,5438747.0,2.713309e+06,2.434458e+06,2.882212e+06,5.644782e+06,8.071001e+06,3.832029e+06,...,0.818,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830,3.847951e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Vietnam,10200952.0,9020523.0,39640000.0,3.874138e+07,2.494760e+07,4.594949e+07,4.386518e+07,5.939132e+07,8.245211e+07,...,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693,6.138044e+07
180,Yemen,2528023.0,21991456.0,33971875.0,5.779357e+07,3.018624e+07,4.177074e+07,3.451818e+07,3.043132e+07,2.911145e+07,...,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463,7.653526e+07
181,Zambia,31284363.0,51242992.0,56440206.0,6.341950e+07,9.043075e+07,1.210551e+08,1.716486e+08,2.077928e+08,2.260960e+08,...,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591,1.626740e+08
182,Zimbabwe,16770276.0,42192899.0,35347514.0,2.996196e+07,4.808168e+07,2.998403e+07,1.240515e+08,1.665157e+08,2.622366e+08,...,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563,1.065218e+08
183,China,8054979.0,22044611.0,24126707.0,2.226767e+07,2.447449e+07,1.783371e+07,3.899250e+07,6.683826e+07,4.843471e+07,...,0.702,0.711,0.719,0.727,0.735,0.742,0.749,0.753,0.758,3.568380e+07

In [369]:
merged['Change_HDI']=merged['2018_y']-merged['2001_y']
merged.columns


old_columns=['Country', '2001_x', '2002_x', '2003_x', '2004_x', '2005_x',
       '2006_x', '2007_x', '2008_x', '2009_x', '2010_x', '2011_x',
       '2012_x', '2013_x', '2014_x', '2015_x', '2016_x', '2017_x',
       '2018_x', '2001_y', '2002_y', '2003_y', '2004_y', '2005_y',
       '2006_y', '2007_y', '2008_y', '2009_y', '2010_y', '2011_y',
       '2012_y', '2013_y', '2014_y', '2015_y', '2016_y', '2017_y',
       '2018_y', 'Average_Aid', 'Change_HDI']


new_columns=[]

for item in old_columns: 
    
    if item.endswith('_x'):
        new_columns.append('X'+item[:-2])

    elif item.endswith('_y'):
        new_columns.append('Y'+item[:-2])
        
    else:
        new_columns.append(item)
        
    
merged.columns=new_columns
merged

,Country,X2001,X2002,X2003,X2004,X2005,X2006,X2007,X2008,X2009,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Average_Aid,Change_HDI
0,Afghanistan,40790880.0,400296704.0,703345174.0,1.240018e+09,1.661364e+09,3.357301e+09,4.900576e+09,8.334698e+09,8.560260e+09,...,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496,4.990517e+09,0.149
1,Albania,41716190.0,57229623.0,52758289.0,6.256914e+07,4.778625e+07,4.863370e+07,4.191058e+07,3.998310e+07,3.852062e+07,...,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791,3.580594e+07,0.118
2,Algeria,407993.0,3329738.0,3695561.0,4.000414e+06,2.447189e+06,1.550195e+06,2.977721e+06,9.804940e+06,9.052562e+06,...,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759,5.930787e+06,0.104
3,Angola,64401962.0,111013572.0,149130500.0,1.291035e+08,8.423896e+07,6.166719e+07,4.333030e+07,5.560407e+07,4.874981e+07,...,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574,6.846020e+07,0.170
5,Argentina,4188748.0,3143932.0,5438747.0,2.713309e+06,2.434458e+06,2.882212e+06,5.644782e+06,8.071001e+06,3.832029e+06,...,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830,3.847951e+06,0.055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Vietnam,10200952.0,9020523.0,39640000.0,3.874138e+07,2.494760e+07,4.594949e+07,4.386518e+07,5.939132e+07,8.245211e+07,...,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693,6.138044e+07,0.107
180,Yemen,2528023.0,21991456.0,33971875.0,5.779357e+07,3.018624e+07,4.177074e+07,3.451818e+07,3.043132e+07,2.911145e+07,...,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463,7.653526e+07,0.014
181,Zambia,31284363.0,51242992.0,56440206.0,6.341950e+07,9.043075e+07,1.210551e+08,1.716486e+08,2.077928e+08,2.260960e+08,...,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591,1.626740e+08,0.155
182,Zimbabwe,16770276.0,42192899.0,35347514.0,2.996196e+07,4.808168e+07,2.998403e+07,1.240515e+08,1.665157e+08,2.622366e+08,...,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563,1.065218e+08,0.110
183,China,8054979.0,22044611.0,24126707.0,2.226767e+07,2.447449e+07,1.783371e+07,3.899250e+07,6.683826e+07,4.843471e+07,...,0.711,0.719,0.727,0.735,0.742,0.749,0.753,0.758,3.568380e+07,0.159

In [370]:
final=pd.wide_to_long(merged, ["X", "Y"], i="Country", j="Year")

#pd.wide_to_long(df, ["A", "B"], i="id", j="year")

In [371]:
#4.990517e+09 	

final.columns=['Average_Aid', 'Change_HDI', 'Aid_Year', 'HDI_Year']
final.reset_index(drop=False,inplace=True)

In [372]:
final['Efficiency']=final['Change_HDI']/final['Average_Aid']
final

,Country,Year,Average_Aid,Change_HDI,Aid_Year,HDI_Year,Efficiency
0,Afghanistan,2001,4.990517e+09,0.149,40790880.0,0.347,2.985663e-11
1,Albania,2001,3.580594e+07,0.118,41716190.0,0.673,3.295542e-09
2,Algeria,2001,5.930787e+06,0.104,407993.0,0.655,1.753562e-08
3,Angola,2001,6.846020e+07,0.170,64401962.0,0.404,2.483195e-09
4,Argentina,2001,3.847951e+06,0.055,4188748.0,0.775,1.429332e-08
...,...,...,...,...,...,...,...
2443,Vietnam,2018,6.138044e+07,0.107,160502438.0,0.693,1.743226e-09
2444,Yemen,2018,7.653526e+07,0.014,565356484.0,0.463,1.829222e-10
2445,Zambia,2018,1.626740e+08,0.155,473504722.0,0.591,9.528258e-10
2446,Zimbabwe,2018,1.065218e+08,0.110,226874308.0,0.563,1.032652e-09
2447,China,2018,3.568380e+07,0.159,36596519.0,0.758,4.455804e-09

In [373]:
df = pd.read_csv(r'C:\Users\dccam\Desktop\person.csv')

old_columns = df.columns
new_columns=[]

for item in old_columns: 
    
    if item != 'country':
        new_columns.append('Y'+item)
        
    else:
        new_columns.append(item)
        
df.columns = new_columns
df1 = pd.wide_to_long(df, stubnames='Y', i='country', j='Year')
df1.reset_index(drop=False, inplace=True)
df1 = df1.rename(columns = {'country':'Country', 'Y':'Aid_Per_Capita'})
df1.head()

               Country  Year  Aid_Per_Capita
0          Afghanistan  1960         1.91000
1              Albania  1960             NaN
2              Algeria  1960        32.10000
3               Angola  1960        -0.00917
4  Antigua and Barbuda  1960             NaN

In [376]:
df.head()

,country,Y1960,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,Afghanistan,1.91000,3.78,1.81,3.84000,4.74,5.420,5.000,3.95,2.75000,...,215.00,214.00,224.00,214.00,160.00,148.00,124.00,115.000,105.00,102.00
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122.00,125.00,131.00,120.00,93.30,97.30,116.00,59.500,58.50,120.00
2,Algeria,32.10000,38.60,34.20,23.70000,18.60,11.700,9.840,8.11,8.75000,...,8.56,5.59,5.27,3.94,5.33,4.13,1.79,3.560,4.22,3.41
3,Angola,-0.00917,4.26,NaN,0.00528,NaN,0.192,0.495,3.15,0.00173,...,10.60,10.10,7.97,9.70,11.00,8.74,13.60,7.160,7.49,5.18
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.10,223.00,173.00,23.10,17.40,27.50,15.90,0.635,104.00,174.00

In [374]:
final = final.merge(df1, on=['Country', 'Year'], how='inner')
final.head()

,Country,Year,Average_Aid,Change_HDI,Aid_Year,HDI_Year,Efficiency,Aid_Per_Capita
0,Afghanistan,2001,4.990517e+09,0.149,40790880.0,0.347,2.985663e-11,19.00
1,Albania,2001,3.580594e+07,0.118,41716190.0,0.673,3.295542e-09,87.70
2,Algeria,2001,5.930787e+06,0.104,407993.0,0.655,1.753562e-08,6.32
3,Angola,2001,6.846020e+07,0.170,64401962.0,0.404,2.483195e-09,16.70
4,Argentina,2001,3.847951e+06,0.055,4188748.0,0.775,1.429332e-08,4.23

In [375]:
final[final['Country']=='Afghanistan']

,Country,Year,Average_Aid,Change_HDI,Aid_Year,HDI_Year,Efficiency,Aid_Per_Capita
0,Afghanistan,2001,4.990517e+09,0.149,4.079088e+07,0.347,2.985663e-11,19.0
115,Afghanistan,2002,4.990517e+09,0.149,4.002967e+08,0.378,2.985663e-11,54.1
230,Afghanistan,2003,4.990517e+09,0.149,7.033452e+08,0.387,2.985663e-11,65.0
345,Afghanistan,2004,4.990517e+09,0.149,1.240018e+09,0.400,2.985663e-11,91.7
460,Afghanistan,2005,4.990517e+09,0.149,1.661364e+09,0.410,2.985663e-11,110.0
575,Afghanistan,2006,4.990517e+09,0.149,3.357301e+09,0.419,2.985663e-11,110.0
690,Afghanistan,2007,4.990517e+09,0.149,4.900576e+09,0.431,2.985663e-11,184.0
805,Afghanistan,2008,4.990517e+09,0.149,8.334698e+09,0.436,2.985663e-11,174.0
920,Afghanistan,2009,4.990517e+09,0.149,8.560260e+09,0.447,2.985663e-11,215.0
1035,Afghanistan,2010,4.990517e+09,0.149,7.841937e+09,0.464,2.985663e-11,214.0
1150,Afghanistan,2011,4.990517e+09,0.149,1.144900e+10,0.465,2.985663e-11,224.0
1265,Afghanistan,2012,4.990517e+09,0.149,1.010858e+10,0.479,2.985663e-11,214.0
1380,Afghanistan,2013,4.990517e+09,0.149,9.962970e+09,0.485,2.985663e-11,160.0
1495,Afghanistan,2014,4.990517e+09,0.149,6.993194e+09,0.488,2.985663e-11,148.0
1610,Afghanistan,2015,4.990517e+09,0.149,9.284463e+09,0.490,2.985663e-11,124.0
1725,Afghanistan,2016,4.990517e+09,0.149,4.322745e+09,0.491,2.985663e-11,115.0
1840,Afghanistan,2017,4.990517e+09,0.149,5.026191e+09,0.493,2.985663e-11,105.0
1955,Afghanistan,2018,4.990517e+09,0.149,5.181168e+09,0.496,2.985663e-11,102.0

In [377]:
final.isnull().values.any()

True

In [378]:
final.dropna(axis=0,inplace=True)

In [380]:
final.isnull().values.any()

False

In [382]:
final

,Country,Year,Average_Aid,Change_HDI,Aid_Year,HDI_Year,Efficiency,Aid_Per_Capita
0,Afghanistan,2001,4.990517e+09,0.149,40790880.0,0.347,2.985663e-11,19.000
1,Albania,2001,3.580594e+07,0.118,41716190.0,0.673,3.295542e-09,87.700
2,Algeria,2001,5.930787e+06,0.104,407993.0,0.655,1.753562e-08,6.320
3,Angola,2001,6.846020e+07,0.170,64401962.0,0.404,2.483195e-09,16.700
4,Argentina,2001,3.847951e+06,0.055,4188748.0,0.775,1.429332e-08,4.230
...,...,...,...,...,...,...,...,...
2065,Vietnam,2018,6.138044e+07,0.107,160502438.0,0.693,1.743226e-09,17.100
2066,Yemen,2018,7.653526e+07,0.014,565356484.0,0.463,1.829222e-10,280.000
2067,Zambia,2018,1.626740e+08,0.155,473504722.0,0.591,9.528258e-10,57.200
2068,Zimbabwe,2018,1.065218e+08,0.110,226874308.0,0.563,1.032652e-09,55.000
2069,China,2018,3.568380e+07,0.159,36596519.0,0.758,4.455804e-09,-0.529

In [183]:
final.to_csv(r'Final_HDI_AID_daddy.csv', index = False)

In [383]:
#Append for indexes, adding rows

#list_diff_hdis=[]
#list_avg_aid=[]

#merged.iloc[1,:][1:].sum()
#merged.loc[merged['Country']=='Afghanistan'].iloc[:,1:].values.sum()

#[print(merged['Country'][x],':',merged.iloc[x,:][1:18].sum()) for x in range(merged.shape[0])]
#[list_avg_aid.append((merged.iloc[x,:][1:18].sum())/17) for x in range(merged.shape[0])]; #average aid amount accros years

#[print(merged['Country'][x],':',merged.iloc[x,:][18:37].sum()) for x in range(merged.shape[0])]
#[list_diff_hdis.append(merged.iloc[x,:][36]-merged.iloc[x,:][19]) for x in range(merged.shape[0])]

#list_diff_hdis
#list_avg_aid
#print(merged.iloc[2,:][36])
#merged.iloc[2,:][19]
#merged.iloc[1,1:].sum()
#merged.loc[merged['Country']=='Albania']